<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome, Zee</h1>
  		<div class="home-menu">
  			<div class="row" id="home-links">

  			<a class="nav-link active" href="/users">
                  <span data-feather="users"></span>
                  Users <span class="sr-only">(current)</span>
            </a>
            <a class="nav-link active" href="/instructors">
                  <span data-feather="users"></span>
                  Instructors <span class="sr-only">(current)</span>
            </a>
            <a class="nav-link active" href="/students">
                  <span data-feather="users"></span>
                  Students <span class="sr-only">(current)</span>
            </a>
            <a class="nav-link active" href="/cohorts">
                  <span data-feather="users"></span>
                  Cohorts <span class="sr-only">(current)</span>
            </a>
            <a class="nav-link" href="/courses">
                  <span data-feather="file"></span>
                  Courses
            </a>
        </div>

        <div class="home-side">
        	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        	consequat.</p>
        	
        </div>

  			<!-- <button type="button" class="btn btn-light"><a href="/users">Users</a></span></button> -->
  		<!-- <button type="button" class="btn btn-light"><a href="/users">Cohorts</a></button> -->
  		</div>
  </div>
</div>

<div class="row">
<div class="col-6">
<div class="jumbotron">
  <h1 class="display-4">To Do!</h1>
  <p class="lead">Upcoming for the week of May 14, 2018.</p>
  <hr class="my-4">
  <ul>
  <li>Send email to board of ed. regarding new semester.</li>
  <li>Buy office snacks and supplies for next month.</li>
  <li>Assign new instructors to cohort.</li>
  <li>Plan the upcoming graduation dinners.</li>
</ul>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Go to List</a>
  </p>
</div>
</div>




<div class="col-6">
<div class="card text-center">
  <div class="card-header" id="card-header">
    Announcements
  </div>
  <div class="card-body" id="card-body">
    <h5 class="card-title">School News</h5>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" id="carousel-item">
    <p class="d-block w-100" alt="First slide">
    <em>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</em></p>
    </div>
    <div class="carousel-item" id="carousel-item">
    <p class="d-block w-100" alt="Second slide"><em>
     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</em></p>
    </div>
    <div class="carousel-item" id="carousel-item">
      <p class="d-block w-100" alt="Third slide"><em>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</em></p>
    </div>
    <div class="carousel-item" id="carousel-item">
      <p class="d-block w-100" alt="Third slide"><em>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</em></p>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
</div>
</div>

